[Unit]
Description=Remote Puppet Flask App
After=network.target

[Service]
ExecStart=/usr/bin/python3 /c:/Users/水野翔太/Documents/GitHub/remote-puppet/RaspberryPi/gui.py
WorkingDirectory=/c:/Users/水野翔太/Documents/GitHub/remote-puppet/RaspberryPi
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
